.idea/
.dart_tool/
build/
dist/
node_modules/
.env
.env.local
firebase_options.dart
*.jks
*.keystore
*.apk
*.aab
*.ipa
.gradle/
.gradle-home/
.m2/
xcuserdata/
.kotlin/
.flutter-plugins-dependencies
ios/certs/
*.mobileprovision
*.p12
*.cer
*.csr
